<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title> Eturismo - Seu melhor destino </title>

    <!-- Bootstrap core CSS -->
    <link href="../static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="../static/css/simple-sidebar.css" rel="stylesheet">

</head>

<body>

    <div id="wrapper">

        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand">
                    <a href= "{% url 'index' %}">
                        Eturismo - Home
                    </a>
                </li>
                <li>
                    <a href="#destino">Seu Destino </a>
                </li>
                <li>
                    <a href="#lugares">Lugares </a>
                </li>
                <li>
                    <a href="#promocoes" >Promoções </a>
                </li>
                <li>
                    <a href="#avaliacao">Avaliação </a>
                </li>
                
            </ul>
        </div>
        <!-- /#sidebar-wrapper -->

        <!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="container-fluid">
                <h1 id="destino" >{{distrito.descricao}}</h1>
                <h2 id="destino" >{{distrito.Municipio}}</h2>

                {% for dica in dicas %}
                <p>{{dica.descricao}}</p>
                {% empty %}
                <p>Nenhuma dica cadastrada.</p>
                {% endfor %}



                <a href="#menu-toggle" class="btn btn-secondary" id="menu-toggle">Acesse mais detalhes!</a>


            </div>
        </div>
        <!-- /#page-content-wrapper -->

        <div id="page-content-wrapper">
            <div class="container-fluid">
                <h1 id="lugares">Passeios</h1>
                <hr/>
                <form method="get" action="{% url 'informacoes' %}">
                    <p>Filtros --
                    Nome: <input type="text" name="descricaoget"/> |
                    Tipo Passeio: <select name="passeioget"> ]
                    <option value=""></option> 
                    
                    {% for tipos in tipo_passeio %}
                    <option value="{{tipos.id}}">{{tipos.descricao}}</option>
                    {% endfor %}
                    </select> |
                    <button type="submit">Buscar</button></p></form>
                    <hr/>
                
                <ul>

                {% for pas in passeios %}
               
                <li><p>{{pas.descricao}}</p>
                <a href= "{% url 'passeio_detalhes' %}?id={{pas.id}}"> Acesse </a></li>
                {% empty %}
                <p>Nenhum passeio cadastrado</p>
                {% endfor %} 

                </ul>


                
                
            </div>
        </div>

        <div id="page-content-wrapper">
            <div class="container-fluid">

                <h1 id="promocoes" >Promoções</h1>
                {% for promo in promocoes %}
                <p>{{promo.descricao}}</p>
                {% empty %}
                <p>Nenhuma promoção cadastrada.</p>
                {% endfor %}
                
            </div>
        </div>

        <div id="page-content-wrapper">
            <div class="container-fluid">

                <h1 id="avaliacao">Avaliação</h1>
                {% for aval in avaliacoes %}
                <p>{{aval.descricao}}</p>
                {% empty %}
                <p>Nenhum resultado encontrado</p>
                {% endfor %}
                
            </div>
        </div>

    </div>
    <!-- /#wrapper -->

    <!-- Bootstrap core JavaScript -->
    <script src="../static/vendor/jquery/jquery.min.js"></script>
    <script src="../static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Menu Toggle Script -->
    <script>
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });
    </script>

</body>

</html>
